.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.vovere {
  color: pink;
}

.kates {
  list-style-type: none;
  color: blue;
 
}

.color-mark{
  width: 30px;
  height: 30px;
  display: inline-block;
  background-color: transparent;
  
}

.nice-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}


.tr {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  border: 1px solid gray;
}

.bl {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  border: 1px solid gray;
}

.colors {
  width: 100vw;
  height: 33px;
}

h3 {
  color: pink;
  color: rgb(255, 255, 255);
  
}

.lake {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
  background-color: #61dafb;
  border-radius: 50%;
  flex-wrap: wrap;
}


.square {
  width: 30px;
  height: 30px;
  background-color: blueviolet;
  margin: 5px;
}

.sqc {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 20px;
  width: 100%;
  .sq {
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: bold;
    background-color: grey;
    margin: 5px;
    &.blue {
      background-color: #61dafb;
      
    }
    &.pink {
      background-color: pink;

    }
    &.red {
      background-color: crimson;

    }



  }
}

//BUTTON
$color: rgb(26, 87, 199);

button.a {
  display: inline-block;
  padding: .75rem 1.25rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.5rem;
  letter-spacing: .10rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
  margin: 7px;
  border: 1px solid $color;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color;
    border-radius: 10rem;
    z-index: -2;
  }

  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: darken($color, 15%);
    transition: all .3s;
    border-radius: 10rem;
    z-index: -1;
  }

  &:hover {
    color: #fff;

    &:before {
      width: 100%;
    }
  }
}


.big{
  font-size: 60px;
  font-family: Arial, Helvetica, sans-serif;
}

.small{
  font-size: 12px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.squar{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  border: 2px solid #fff;
  width: 400px;;
  height: 400px;
  transition: all 0.7s;
  position: relative;
  gap: 50px;
  .kvadratas{
    width: 100px;
    height: 100px;
  }
    .apskritimas{
      border-radius: 50%;
    }
    &.blue {
      background-color: blue;
    }
}

.letters{
  display: flex;
  color: white;
  font-size: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  .apskritimas{
    border-radius: 50%;
  }
  .sqcr {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 1px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #fff;
    
  }
  
}

.clickable {
  cursor: pointer;
  transition: all 0.7s;
}

.too-small {
  position: absolute;
  
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border: 2px dotted white;
  border-radius: 50%;
}

.bth {
  padding: 8px;
  background-color: antiquewhite;
  border: 2px dashed black;
  transition: all 0.7s;
}

.squars {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  border: 2px solid #fff;
  width: 400px;
  ;
  height: 400px;
  transition: all 0.7s;
  position: relative;
  gap: 50px;
  

  .kvadratas {
    width: 100px;
    height: 100px;
  }
}

.mr-green{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 100px;
  border: 1px solid white;
  padding: 25px;
  margin: 50px
}

.kvadratukai{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    .kvadratukas{
      display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        border: 2px solid #fff;
        border-radius: 0;
        width: 20px;
        height: 20px;
        transition: all 0.7s;
        position: relative;
        gap: 50px;
        margin:5px;

    }

}

.robots{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 100px;
  height: 100px;
  gap: 2px;
  padding: 1.5rem;

}

.img{
  width: 100px;
  height: auto;
 
}

.cards-container {
  display: flex;
  flex-direction: column-reverse;
}

.lc {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: flex-start;

  .list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    div{
      margin: 3px;
      transition: all 0.4s;
      cursor: pointer;
      padding: 6px;
      &:hover{
        background-color: grey;
      }
      span{
        padding: 0 7px;
        font-weight: 500;
        letter-spacing: 0.9px;
      }
    }
    
  }
}

.list-group-item {
  .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .buttons {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }
}

.modal {
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
}

.yes-no{
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 0, 5px;
  &.yes{
    background-color: chartreuse;
  
  };
  &.no{
    background-color: crimson;

  }
}

.links {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin: 10px 10px 10px 30px;

  a {
    color: coral;
    transition: all 0.6s;

    &:hover {
      color: crimson;
    }
  }
}

.sqc {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 20px;
  width: 100%;

  .sq {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    background-color: grey;
    margin: 7px;

    &.blue {
      background-color: #61dafb;
    }

    &.pink {
      background-color: pink;
    }

    &.red {
      background-color: crimson;
    }
  }
}

.kvc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  .kv {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    width: 77px;
    height: 77px;
    background-color: crimson;
    margin: 8px;

    &.c1 {
      border-radius: 50%;
    }
  }
}

.reducer{
  padding: 2rem;
  border: solid #ffff 3px;
  border-radius: 5rem;
}